/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Forum", serif;
  background-color: #001f3f; /*Deep navy background*/
  color: #00bfff;
}

/* Layout Wrapper */
.home-wrapper {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  z-index:1;
}

/* Sidebar */
.sidebar {
  background-color: #001f3f;
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  padding: 80px 20px 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 10000;
}

/* When sidebar is active (visible) */
.sidebar.active {
  transform: translateX(0);
}

.nav{
  height:100%;
  display:flex;
  flex-direction:column;
  gap:7%;
}
/* Navigation Links */
#nav a {
  color: #00bfff;
  text-decoration: none;
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  border-radius: 6px;
  transition: background 0.2s ease;
  font-size: 16px;
}
.nav a i{
  font-size:1.3em;
}
#nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#nav p {
  margin: 0;
  font-weight: 500;
}

/* Toggle Icons */
#open-list,
#close-list {
  font-size: 1.7rem;
  color: #001f3f;
  cursor: pointer;
  transition: color 0.2s;
}

#open-list:hover,
#close-list:hover {
  color: #01698c; /* Light blue on hover */
}

/* Positioning the open button */
#open-list {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
}

/* Positioning the close button */
#close-list {
  position: absolute;
  top: 4%;
  left: 42%;
}

/* Hidden utility class */
.hidden {
  display: none;
}

.home-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-right: 5%;
}

.sharp-box {
  flex: 1;
  height: 100vh;
  background-color: #00bfff;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  z-index: 1;
}

.image {
  display: none;
  z-index: 2;
  flex: 1;
  max-width: 45%;
  text-align: right;
  padding: 20px;
}

.image img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

/* On larger screens */
@media (min-width: 768px) {
  .image {
    display: block;
  }
  .image img {
      width: 140%;
      max-width: 350px;
      height: auto;
  }
  .home-screen {
    justify-content: space-between;
  }

  .sharp-box {
        flex: 1.2;
        clip-path: polygon(0 0, 25% 0, 105% 60%, 10% 100%, 0 100%);
    }
}
