/* Container */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* Wrapper */
.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

/* Each slide */
.project-slide {
  min-width: 100%; /* show one slide at a time */
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

.project-slide img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-desc {
  color: #d0d0d0;
}

.project-desc h3 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.project-desc p {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}
.btn{
  margin-top:5%;
  text-decoration:none;
  border:1px solid #f9f9f9;
  color:#d0d0d0;
  padding:3% 5%;

}
/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  border-radius: 50%;
}

.arrow:hover {
  background: rgba(0,0,0,0.8);
}

.prev { left: 10px; }
.next { right: 10px; }

/* tablets tweak: make slide smaller */
@media (min-width: 768px) {
  .project-slide {
    min-width: 50%; /* show 2 at a time */
  }
}
/* Desktop tweak: make slide smaller */
@media (min-width: 1024px) {
  .project-slide {
    min-width: 33.33%; /* show 3 at a time */
  }
  .project-slide img {
    max-height: 400px;
  }
  
}
